* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

.center {
    margin: 24px;
    text-align: center;
}

.title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    margin-top: .5em;
    margin-bottom: .5em;
}

.products {
    margin: 64px 0;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.products-product {
    min-width: 194px;
    margin: 8px;
    padding: 16px;
    display: block;
    text-decoration: none;
    color: #333;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, .04);
    text-align: center;
}

.products-name {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 700;
}

.products-image {
    margin-bottom: 6px;
}

.products-image img {
    width: 96px;
}

.products-description {
    font-size: 14px;
    color: rgba(0, 0, 0, .48);
}

.banner {
    margin: 24px;
    font-size: 24px;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.navigation {
    font-size: 16px;
    font-weight: 600;
    color: #0077cc;
    text-decoration: none;
}

.store {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.store-product {
    position: relative;
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, .04);
}

.store-about {
    margin-left: 24px;
}

.store-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.store-description {
    color: rgba(0, 0, 0, .48);
}

.store-remove {
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
